.contact button {
  background-color: #FFC0CB; /* pastel pink background */
  color: #1A1A2E; /* dark text */
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.contact a {
  color: #c9478e; /* Chocolate color, you can change to any color you like */
  font-weight: bold; /* Optional: make it stand out */
  transition: color 0.3s; /* Smooth color change on hover */
}

.contact a:hover {
  color: #ff69b4; /* Change color on hover, optional */
  text-decoration: underline; /* Optional hover effect */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a img {
  width: 30px;
  height: 30px;
}
