.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.menu-item {
  text-align: center;
  max-width: 250px;
}

.menu-item img {
  width: 100%;
  border-radius: 12px;
}

h1, h2, h3 {
  text-align: center;
  font-size: 2.2rem;  
  font-weight: bold;
  margin: 1.5rem 0;
  color: #333;       
}